<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="~/Home/index" >
                    <img src="~/Images/logo.png" height="50" width="50"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="firstLink">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="hover" onmouseover=" $('#displaydropdownmenu').css('display', 'inline-block');">
                    @Html.ActionLink("Categories", "About", "Home")</li>
                    <li id="thirdLink">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li id="fourthLink">@Html.ActionLink("Basket","Index","Basket")</li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="relative" id="displaydropdownmenu">

        <div class="static">
            <span class="fontface underline">~ Ladies ~</span><br/>
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
           

                        <div class="staticmiddle">
                            <span class="fontface underline">~ Men ~</span><br/>
                            <a href="#"><span>Partywear</span></a><br />
                            <a href="#"><span>Partywear</span></a><br />
                            <a href="#"><span>Partywear</span></a><br />
                            <a href="#"><span>Partywear</span></a><br />
                            <a href="#"><span>Partywear</span></a><br />
                        </div>
                        <div class="staticbottom">
                            <span class="fontface underline">~ Kids ~</span><br/>
                            <a href="#"><span>Partywear</span></a><br />
                            <a href="#"><span>Partywear</span></a><br />
                            <a href="#"><span>Partywear</span></a><br />
                        </div>
                        <img id="babytoys" src="babytoys.jpg" width="190" />
</div>
        <div class="verticalline1"></div>

        <div class="absolute-centre">
            <span class="fontface underline">~  Books ~ </span>
            <br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <div class="absolute-centre-middle">
                <span class="fontface underline">~ Electronics ~</span>
                <br />
                <a href="#"><span>Partywear</span></a><br />
                <a href="#"><span>Partywear</span></a><br />
                <a href="#"><span>Partywear</span></a><br />
            </div>
            <div class="absolute-centre-bottom">
                <span class="fontface underline">~ Christmas ~</span>
                <br />
                <a href="#"><span>Partywear</span></a><br />
                <a href="#"><span>Partywear</span></a><br />
        </div>
            <img class="menswear" src="menswear.jpg"></div>

        <div class="verticalline2"></div>
        <div class="absolute-right">
            <span class="fontface underline">~ Toys ~ </span>
            <br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <a href="#"><span>Partywear</span></a><br />
            <img id="img2" src="women.jpg">
            <img class="img1" src="gowns.jpg"></div>

       

    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="footer" >
                <p id="footerText" style="color:#808080;text-align:left">&copy; 2015-@DateTime.Now.Year - The Dragon&rsquo;s Hoard. <br/> Thedragonshoard.com All rights reserved.</p>
            </div>
            @*For now its 2015-2015 but next year it will say 2015-2016..*@
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)



    <script type="text/javascript">
        window.onclick = function () {
            var theDropdown = document.querySelector("#displaydropdownmenu")
            theDropdown.style.display = "none";
        }

    </script>
</body>
</html>
