@model List<EcommerceProject.Website.WebsiteBasketHost.BasketItem>

<h1>Confirmation Note</h1>
<br />
<div>
  <p>
    Dear CustomerName,<br />
    Thank you for ordering via The Dragon's Hoard.<br />
    Your order reference is (ref number)
  </p>
</div>
<br /><br />
<div class="confirmationDetailsContainer">
  <div class="btn btn-block" id="delivery">Delivery Details</div>
  <div id="toplayer">
    <p>Standard Delivery:4.99</p>
    <p>Delivery Company: Yodel</p>
    <br /><br />
    <table class="tablestyle">

      <tr>
        <th>
          Your order
        </th>
      </tr>

        @foreach (var basketItem in Model)
        {
          ViewBag.Total = basketItem.itemCount * basketItem.product.price;
          <tr>
            <td><b>Qty: @basketItem.itemCount</b></td>
            <td><b>Description: @basketItem.product.product_name</b></td>
            <td><b>Price: £@basketItem.product.price</b></td>
            <td><b>Total: £@ViewBag.Total</b></td>
          </tr>
        }

    </table>
  </div>
  <br />
  <br />
  <div id="bottomlayer">
    <table>
      <tr>
        <td>Sub Total:</td>
        <td id="prices">£ @ViewBag.SubTotal</td>
      </tr>
      <tr>
        <td>VAT:</td>
          <td id="prices">£ @ViewBag.VAT</td>
      </tr>
      <tr>
        <td>Grand Total:</td>
          <td id="prices">£ @ViewBag.GrandTotal</td>
      </tr>
    </table>

  </div>
</div>

<br /><br /><br /><br /><br /><br />
