@model EcommerceProject.DataModel.Product

<img src=@Model.imageurl style="height:300px;width:300px" />
<div id="product">
  <h2>@Model.name</h2><br />
  <h4>@Model.price</h4>
  <h5>@Model.stock</h5>
</div>
<div id="product_description">
  @Model.description
</div>

@Scripts.Render("../../Content/ProductPage.css")